+selection
	background-color: $pink

body
	background: #FFF
	font-family: $proxima
	+fs(22)
	font-weight: 300
	line-height: 1.4
	color: $dark

.container
	display: block
	margin: 0 auto
	box-sizing: border-box
	padding: 0 15px
	max-width: 1200px
	width: 100%
