---
title: Корпоративные мероприятия любого формата и масштаба!
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<section class="hero">

		<div class="hero-content">

			<div class="container">
				<h1 class="hero-content__title">Корпоративные мероприятия любого формата и масштаба!</h1>
			</div>

			<div class="hero-content-form">
				<div class="container">
					
					<div class="hero-content-form__text">Получите эксклюзивное предложение на проведение вашего мероприятия</div>

					<form action="#" method="post" class="hero-content-form__form hero-form">
						
						<input type="text" class="hero-form__input" name="name" placeholder="Введите имя*" required>
						<input type="tel" class="hero-form__input" name="tel" placeholder="Введите номер телефона*" required>

						<button type="submit" class="btn">Получить предложение"</button>

					</form>

				</div>
			</div>

		</div>
		
		<div class="hero-video">
			<video src="#" poster="img/video-poster.jpg" class="hero-video__video"></video>
		</div>

	</section>


	<section class="screen screen-feature">
		<div class="container">
			
			<h2 class="screen-title">Event Evolution ваш <span class="bold">лучший выбор,</span> потому что:</h2>

			<div class="features">
				
				<div class="features-row">
					<div class="features-col features-col_img">
						<img src="img/cor-feature-1.jpg" alt="">
					</div>

					<div class="featires-col featires-col_text">
						Мы разрабатываем и реализовываем <span class="bold">самые смелые проекты</span>
					</div>

					<div class="features-col features-col_img">
						<img src="img/cor-feature-2.jpg" alt="">
					</div>
				</div>

				<div class="features-row">
					<div class="features-column">
						
						<div class="featires-col featires-col_text">
							Мы предоставляем полный <span class="bold">комплекс услуг</span> и оборудования для мероприятий
						</div>

						<div class="features-col features-col_img">
							<img src="img/cor-feature-3.jpg" alt="">
						</div>	

					</div>

					<div class="features-column">
						
						<div class="features-col  features-col_hero">
							Совместная работа профессионалов из разных областей гарантирует <span class="bold">безупречный результат!!!</span>
						</div>	

						<div class="featires-col featires-col_text">
							Мы обеспечиваем <span class="bold">безупречную организацию</span> мероприятия и гарантируем <span class="bold">наилучший результат</span>
						</div>

					</div>

					<div class="features-column">
						
						<div class="featires-col featires-col_text">
							Мы работаем только с теми подрядчиками, в качестве услуг которых <span class="bold">мы уверены</span>
						</div>

						<div class="features-col features-col_img">
							<img src="img/cor-feature-4.jpg" alt="">
						</div>	

					</div>
				</div>

			</div>

		</div>
	</section>

	<!-- begin cor-parralax -->
	<div class="cor-parralax cor-parralax_top">
		<div class="container">
			<p>Наш совместный опыт в организации мероприятий <br> <span class="bold">более 30 лет.</span></p>
			<p>Это наша главная гарантия качества услуг!</p>
		</div>
	</div>
	<!-- end cor-parralax -->

	<!-- begin screen screen-services-top -->
	<div class="screen screen-services-top">
		<div class="container">
			
			<div class="service-top service-top_top">
				<h2 class="service-top__title">Корпоративы</h2>

				<div class="service-top-overlay">
					<div class="service-top-overlay__text">от 18 руб/чел</div>
					<button class="btn btn-open-app" type="button">Оставить заявку</button>
				</div>
				
				<div class="service-top-img">
					<img src="img/cor-service-1.jpg" alt="" class="service-top-img__img">
				</div>
			</div>

			<div class="service-top service-top_top">
				<h2 class="service-top__title">Бизнес-форумы</h2>

				<div class="service-top-overlay">
					<div class="service-top-overlay__text">от 18 руб/чел</div>
					<button class="btn btn-open-app" type="button">Оставить заявку</button>
				</div>

				<div class="service-top-img">
					<img src="img/cor-service-2.jpg" alt="" class="service-top-img__img">
				</div>
			</div>

			<div class="service-top service-top_top">
				<h2 class="service-top__title">Тимбилдинги</h2>

				<div class="service-top-overlay">
					<div class="service-top-overlay__text">от 18 руб/чел</div>
					<button class="btn btn-open-app" type="button">Оставить заявку</button>
				</div>

				<div class="service-top-img">
					<img src="img/cor-service-3.jpg" alt="" class="service-top-img__img">
				</div>
			</div>

			<div class="service-top-text">У нас <span class="bold">огромный опыт</span> в огранизации корпоративных мероприятий</div>

			<div class="service-top service-top_bottom">
				<h2 class="service-top__title">Концерты и фестивали</h2>

				<div class="service-top-overlay">
					<div class="service-top-overlay__text">от 18 руб/чел</div>
					<button class="btn btn-open-app" type="button">Оставить заявку</button>
				</div>

				<div class="service-top-img">
					<img src="img/cor-service-2.jpg" alt="" class="service-top-img__img">
				</div>
			</div>

			<div class="service-top service-top_bottom">
				<h2 class="service-top__title">Выставки</h2>

				<div class="service-top-overlay">
					<div class="service-top-overlay__text">от 18 руб/чел</div>
					<button class="btn btn-open-app" type="button">Оставить заявку</button>
				</div>
				
				<div class="service-top-img">
					<img src="img/cor-service-3.jpg" alt="" class="service-top-img__img">
				</div>
			</div>

			<div class="service-top service-top_bottom">
				<h2 class="service-top__title">Социальные проекты</h2>

				<div class="service-top-overlay">
					<div class="service-top-overlay__text">от 18 руб/чел</div>
					<button class="btn btn-open-app" type="button">Оставить заявку</button>
				</div>
				
				<div class="service-top-img">
					<img src="img/cor-service-3.jpg" alt="" class="service-top-img__img">
				</div>
			</div>

			
		</div>
	</div>
	<!-- end screen screen-services-top -->



	
	{# partial example #}
	{% include "partials/_header.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}

{% endblock %}
