<!-- begin overlay -->
<div class="overlay">
  <button class="overlay__close" type="button">Закрыть<span class="lines"></span></button>

  <div class="overlay-content">
    
    <form action="#" method="post" class="overlay-content-form overlay-content-form-call">
      <div class="overlay-content-form__title">Оставьте номер телефона, и мы свяжемся с Вами</div>

      <input type="text" name="name" class="input" placeholder="Введите имя">
      <input type="tel" name="tel" class="input" placeholder="Введите номер телефона*" required>
      <textarea name="message" class="input" placeholder="Оставьте сообщение"></textarea>

      <button class="btn btn-submit">
        <span class="btn__content">Отправить</span>
      </button>
    </form>

    <form action="#" method="post" class="overlay-content-form overlay-content-form-app">
      <div class="overlay-content-form__title">Оставьте заявку и получите эксклюзивное предложение!</div>

      <input type="text" name="name" class="input" placeholder="Введите имя">
      <input type="tel" name="tel" class="input" placeholder="Введите номер телефона*" required>
      <textarea name="message" class="input" placeholder="Оставьте сообщение"></textarea>

      <button class="btn btn-submit">
        <span class="btn__content">Отправить</span>
      </button>
    </form>

    <form action="#" method="post" class="overlay-content-form overlay-content-form-calabration">
      <div class="overlay-content-form__title">Оставьте заявку и мы с Вами свяжемся!</div>

      <!-- <input type='text' class="datepicker-here" data-position="right top" /> -->
      <!-- <input type="text" name="name" class="input" placeholder="Введите имя"> -->
      <input type="text" name="date" class="input input-date" placeholder="Выберите дату">

      <input type="tel" name="tel" class="input" placeholder="Введите номер телефона*" required>
      <textarea name="message" class="input" placeholder="Оставьте сообщение"></textarea>

      <button class="btn btn-submit">
        <span class="btn__content">Отправить</span>
      </button>
    </form>

  </div>
</div>
<!-- end overlay