.screen-service-bottom
	padding-bottom: 45px
	&__wrapper
		display: flex
		justify-content: center
		flex-wrap: wrap
		width: 100%
	&__service
		margin-bottom: 70px
		box-sizing: boder-box
		padding: 0 25px
		width: calc(100% / 3)
		text-align: center

.service-bottom
	&-img
		display: flex
		justify-content: center
		align-items: center
		margin: 0 auto 25px
		box-sizing: border-box
		padding: 25px
		width: 130px
		height: 130px
		border-radius: 50%
		overflow: hidden
		background-color: $pink
		&__img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-hegiht: 100%
			width: auto
			height: auto
	&__text
		text-align: center
		font-family: $proxima
		+fs(22)
		font-weight: 300
		color: $blue-dark
