{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body id="start">

    <!-- begin header -->
    <header class="header">
      
      <div class="container">
        
        <a href="#start" class="header-logo link-smooth-to">
          <img class="header-logo__img" src="img/header-logo-1.png" alt="">
        </a>

        <button class="btn-mobile-menu">
          <span class="lines"></span>
        </button>

        <div class="mobile-menu">

          <nav class="header-nav">
            <ul class="header-nav-list">
              
              <li class="header-nav-list-li">
                <a href="#services" class="header-nav-list-li__link link-smooth-to">Услуги</a>
              </li>

              <li class="header-nav-list-li">
                <a href="#reviews" class="header-nav-list-li__link link-smooth-to">Отзывы</a>
              </li>

              <li class="header-nav-list-li">
                <a href="#gallery" class="header-nav-list-li__link link-smooth-to">Галерея</a>
              </li>

            </ul>
          </nav>

          <button class="btn btn-open-call" type="button">
            <span class="btn__content">Заказать звонок</span>
          </button>

          <div class="header-info">
            <div class="header-info__text">Работаем по всей Беларуси</div>
            <a href="tel:+375456768787" class="header-info__link">Тел. +375(45)676-87-87</a>
          </div>

        </div>

      </div>

    </header>
    <!-- end header -->

    <!-- BEGIN content -->
    <main class="main">
      {% block content %}{% endblock %}
    </main>
    <!-- END content -->

    <!-- begin footer -->
    <footer class="footer">
      <div class="container">
        <a href="#" class="footer-logo">
          <img src="img/footer-logo.png" alt="">
        </a>

        <ul class="footer-soc">
          
          <li class="footer-soc-li">
            <a href="#" class="footer-soc-li__link" target="_blank">
              <img src="img/icon-fb.png" alt="">
            </a>  
          </li>

          <li class="footer-soc-li">
            <a href="#" class="footer-soc-li__link" target="_blank">
              <img src="img/icon-g.png" alt="">
            </a>  
          </li>

          <li class="footer-soc-li">
            <a href="#" class="footer-soc-li__link" target="_blank">
              <img src="img/icon-im.png" alt="">
            </a>  
          </li>

          <li class="footer-soc-li">
            <a href="#" class="footer-soc-li__link" target="_blank">
              <img src="img/icon-ok.png" alt="">
            </a>  
          </li>

          <li class="footer-soc-li">
            <a href="#" class="footer-soc-li__link" target="_blank">
              <img src="img/icon-yb.png" alt="">
            </a>  
          </li>

        </ul>

        <nav class="footer-nav">
          <ul class="footer-nav-list">

            <li class="footer-nav-list-li">
              <a href="#" class="footer-nav-list-li__link">Портфолио</a>
            </li>

            <li class="footer-nav-list-li">
              <a href="#" class="footer-nav-list-li__link">Отзывы</a>
            </li>

            <li class="footer-nav-list-li">
              <a href="#" class="footer-nav-list-li__link">Услуги</a>
            </li>

            <li class="footer-nav-list-li">
              <a href="#" class="footer-nav-list-li__link">Копоративные мероприятия</a>
            </li>

            <li class="footer-nav-list-li">
              <a href="#" class="footer-nav-list-li__link">Выпускные вечера</a>
            </li>

            <li class="footer-nav-list-li">
              <a href="#" class="footer-nav-list-li__link">Кейтеринг</a>
            </li>

            <li class="footer-nav-list-li">
              <a href="#" class="footer-nav-list-li__link">Прокат</a>
            </li>

          </ul>
        </nav>

        <div class="footer-copy">
          <a class="footer-copy__qlab">
            <img src="img/qlab-logo-white.png" alt="">
          </a>
          <div class="footer-copy__text">
            © Copyright Qlab 2018
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->

    {% include "partials/_popups.html" %}

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
     <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <!-- END scripts -->

  </body>
</html>
